body{
  background-color: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  color: #2C292C;
  text-align: center;
}

.successimg{
  display: block;
  margin: auto;
  width:400px;
}

.errorimg{
  display: block;
  margin: auto;
  width: 460px;
}

h1{
  margin: 3%;
  font-size: 3.2rem;
}

.p1{
  font-size: 1.2rem;
}

.btn{
  margin-top: 5px;
}



@media screen and (max-width: 750px){

  .errorimg{
    display: block;
    width: 85%;
    margin: auto;
  }

  .successimg{
    display: block;
    margin: auto;
    width:84%;
  }
}
